.header {
  background-color: var(--white);
}

.header-logo {
  color: var(--dark);
}

.header-nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--pressed-state);
}

.header-address {
  font-style: normal;
}

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--pressed-state);
}
